.shopping-cart{
    width: 75vw;
    margin: auto;
    background-color: white;
    padding: 0px 3rem;
    border-radius: 1rem;
    margin-top: 100px
}

.cart-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px;
}

.cart-header div{
    margin: auto 0px;
}

.total-checkout{
    width: 15vw;
    margin-left: auto;
    padding-bottom: 0.75rem;
    /* border: 1px solid blue; */
}

.sub-total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media screen and (max-width: 760px) {
    .total-checkout{
        width: 100%;
    }
}